@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background: #004643;
    height: 100%;
    position: relative;
}
nav{
    margin: 0 auto;
    width: 70rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    color:#fff;
}
nav ul{
    display: flex;
}
nav ul li{
    margin: 0 1rem;
}
main{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto 5rem;
}
.section__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    background: #e8e4e6;
    
}
.section__left div img{
    border-radius: 50%;
    width: 7rem;
    height: 7rem;
    margin: 1rem 0;
}
.section__left p{
    margin: 0 0 1rem 0;
}
.section__left .profile-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.section__left .profile-data p{
    width: 80%;
    height: 2.5rem;
    background: #abd1c6;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.section__right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 55%;
    background: #ececec;
    height: 406.5px;
}
.section__right > div{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 90%;
    
}
.section__right > div .title-text{
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: .8rem;

}
.section__right > div:first-child{
    margin-bottom: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.section__right div div{
    width: 45%;
    height: 100%;
    background: #f9bc60;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 5px;
    
}
.section__right div p{
    margin-left: .5rem;
}
.section__right > div:first-child > p{
    margin-left: 0;
}
.main-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #abd1c6;
   /*  margin-bottom: 5rem; */
   
   height: 70rem;
   
}
.main-about .about__top{
    margin: 0 auto;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-about .about__top p{
    margin: 3rem;
    font-weight: 600;
    font-size: 2rem;
}
.main-about .about__underneath{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-about .about__underneath p{
    margin: 3rem;
    font-weight: 600;
    font-size: 1.5rem;
}
.main-about .about__boxes{
    width: 1000px;
    margin: 0 auto;
    display: flex;

}
.main-about .about__boxes .about__box{
    width: 50%;
}
.main-about > div:last-child{
    margin-bottom: 3rem;
}
.main-about .about__image{
    width: 1000px;
    height: 33rem;
    margin: 4rem 0 ;
    background: #e8e4e6;
}
.main-about .about__image img{
    /* width: 1000px;
    height: 33rem;
    margin: 4rem 0 ;
    background: #e8e4e6; */
}
.main-contact-form{
    height: 50rem;
    background: #f9bc60;
    display: flex;
    flex-direction: column;
    
}
.main-contact-form .contact-form__top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.main-contact-form .contact-form__top > p:first-child{
    font-weight: 600;
    font-size: 2rem;

}
.main-contact-form .contact-form__icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    margin: 0 auto;
}
.main-contact-form .contact-form__icons div{
    width: 33%;
    height: 5rem;
    background: #004643;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-contact-form .contact-form__form{
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    background: #e8e4e6;
}
.main-contact-form .contact-form__form form input{
    background: #f9bc60;
   display: inline-block;
    

}
.main-contact-form .contact-form__form form textarea{
   
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom:0;
    width:100%;
    height: 3rem;
    background: #004643;
}
footer a {

    color: #fff;
    font-weight: 600;
}